{% extends "base.html" %}

{% block content %}
<div style="max-width: 800px; margin: 40px auto; background: #f8fbff; padding: 30px; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">

    <h1>{{ post.title }}</h1>
    <p>Автор: <strong>{{ post.author.username }}</strong> | 
       Дата: {{ post.created_at|date:"d.m.Y H:i" }}</p>

    <div style="margin: 20px 0; line-height: 1.6;">
        {{ post.content }}
    </div>

    <hr>

    <h3>Комментарии ({{ comments.count }})</h3>
    {% if comments %}
        {% for comment in comments %}
            <div style="margin-bottom: 15px; padding: 10px; background: #fff; border-radius: 8px;">
                <strong>{{ comment.author.username }}</strong>
                <span style="color: #888;">({{ comment.created_at|date:"d.m.Y H:i" }})</span><br>
                {{ comment.text }}
            </div>
        {% endfor %}
    {% else %}
        <p style="color: #777;">Пока нет комментариев — будь первым!</p>
    {% endif %}

    <h4 style="margin-top: 30px;">Добавить комментарий</h4>

    <form method="post" action="{% url 'add_comment' post.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-field">
    {{ form.text.errors }}
    {{ form.text }}
    </div>
    {{ form.media.errors }}
    {{ form.media }}
    
    <button type="submit" class="btn-publish">Отправить</button>
</form>

</div>
<style>
    .btn-publish {
    margin-top: 10px;
    background: linear-gradient(90deg, #6c63ff, #5a52e0);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease, transform 0.25s ease;
    box-shadow: 0 5px 15px rgba(108, 99, 255, 0.2);
}
.btn-publish:hover {
    background: linear-gradient(90deg, #5a52e0, #4a41c0);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(108, 99, 255, 0.3);
}
.form-field { 
    display: flex; 
    flex-direction: column; 
    gap: 8px; 
}
.form-field label { 
    font-weight: 600; 
    font-size: 15px; 
    color: #333; 
    }

    
</style>
{% endblock %}
